.window{
  width: 1005;
  height: 600px;
  background-image: url(http://c.files.bbci.co.uk/1119D/production/_90854007_44457e31-921a-4669-9f05-fb94b55adfb3.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  
}
.barra{
  bottom:0;
  left: 0;
  right: 0;
  background-color: brown;
  width:100%;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
}
.icono0{
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content:left;
    align-items: flex-end;
}